
 BODY { font-family : "Arial";
        background-color : white;
        color : teal;}
 H1 { font-family : "Arial";
      font-size : 24.0pt;
      background-color : teal;
      text-align : center;
      color : white;}
 H2 { font-weight : bold;
      font-size : 18.0pt;}
 H3 { font-weight : bold;
      font-size : 14.0pt;}
 H4 { font-weight : bold;
      font-size : 12.0pt;}
 H5 { font-family : "Arial";
      font-size : 12.0pt;
      background-color : #59ACAC;
      color : white;}
 H6 { font-size : 12.0pt;}
 LI { font-size : 11.0pt;}
 .heading1 { font-weight : bold; }
 .helptext {
        font-family : "Courier New";
        font-size : 11;
 }
 P { font-weight : normal;
     font-size : 11.0pt;
     text-align : left;
     margin-top : 6.0pt;
     margin-bottom : 6.0pt;}
 CITE.expandspot { font-style : normal;
                   color : green;
                   cursor: hand;}
 DFN.collapsed { font-style : italic;
                 font-weight : normal;
                 display :                                    'none';
                 color : red;}
 DFN.expanded { font-style : italic;
                font-weight : normal;
                color : red;}
 EM.dropspot { color : green;
               cursor: hand;}
 CITE.glossterm { font-style : normal;
                  color : maroon;
                  cursor: hand;}
 DFN.glosscollapsed { font-style : italic;
                      font-weight : normal;
                      display :                                    'none';
                      color : blue;}
 DFN.glossexpanded { font-style : italic;
                     font-weight : normal;
                     color : blue;}
 ADDRESS.Cell { font-family : "Arial";
                font-style : normal;
                font-size : 10.0pt;
                background-color : #FFFFB9;
                text-align : center;
                color : black;
                border : none #FFFFB9;
                padding : 2.0pt;}
